# Generic build files
node_modules
build
lib
es
umd

# Package-specific
packages/eslint-config-carbon-base/examples/sample-project
packages/eslint-config-carbon/examples/sample-project
packages/carbon-components
